# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results of an individual project
*.dll
*.exe
*.pdb
*.ilk
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx
*.sap
*.log
*.tlog

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Mac files
.DS_Store
.AppleDouble
.LSOverride

# MAUI specific
*.appx
*.appxbundle
*.appxupload
*.msix
*.msixbundle
*.msixupload

# JetBrains Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
